.welc h1 {

    width: 100%;
    text-align: center;
    line-height: 1.2;
    color: #545454;
    margin: 30px;
    
}

.welc {

    font-size: 20px;
}

.welc h3 {

    text-align: center;
    line-height: 1.7;
    color: #545454;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 700;

}

.front-img {

    
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        
       
    
}

.left {

   margin: 30px;
    font-size: 20px;
    color: #545454;
    

}

.object {


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.box {

    background-color: #c7c7c7;
    border: 2px solid #FF944E;
    border-radius: 30px;
    margin: 40px;
    padding: 50px 10px;
    width: 350px;
    text-align: center;
    color: #545454;
    font-size: 20px;
    line-height: 1.8;
    

}

.sec {

    margin: 50px;
}

.focus {

    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    flex-direction: column;
    
    height: 700px;
}

.foc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    margin: 30px;
    color: #545454;
    border: 1.5px solid #545454;
    border-radius: 25px;
    width: 30%;
    height: auto;
    

    
} 

.foc h3 {

    font-size: 20px;
}

.size {

    height: 100px;
    width: 100px;

}








